In [1]:
import numpy as np
import pandas as pd

col_names = ['Title', 'Air date', 'Production code', 'Season', 'Number in season',
             'Number in series', 'US viewers (million)', 'Views', 'IMDB rating']
selec_cols=['Title','Air date','Production code','IMDB rating']

simpsons_df=pd.read_csv('D:\\simpsons-episodes.tsv.txt',sep='/t',encoding='UTF-8',
                       skiprows=[1,2,3,4],names=col_names,
                       usecols=selec_cols,
                      index_col='Production code',
                      na_values=['no_val'],
                        parse_dates=['Air date'])
simpsons_df

C:\Users\sachi\AppData\Local\Temp\ipykernel_37004\3388072016.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  simpsons_df=pd.read_csv('D:\\simpsons-episodes.tsv.txt',sep='/t',encoding='UTF-8',

,Title,Air date,IMDB rating
Production code,,,
NaN,Two Cars in Every Garage and Three Eyes on Eve...,None,NaN
NaN,no_val\t15/11/90\t7F08\t2\t6\t19\t25.4\t50691\t8,None,NaN
NaN,Bart the Daredevil\t6/12/90\t7F06\t2\t8\t21\t2...,None,NaN
NaN,Bart Gets Hit by a Car\t10/1/91\tno_val\t2\t10...,None,NaN
NaN,Homer vs. Lisa and the 8th Commandment\t7/2/91...,None,NaN
...,...,...,...
NaN,At Long Last Leave\t19/2/12\tPABF07\t23\t14\t5...,None,NaN
NaN,How I Wet Your Mother\t11/3/12\tPABF08\t23\t16...,None,NaN
NaN,Adventures in Baby-Getting\t4/11/12\tPABF18\t2...,None,NaN
NaN,Diggs\t9/3/14\tSABF08\t25\t12\t542\t2.69\t3929...,None,NaN
NaN,Days of Future Future\t13/4/14\tSABF13\t25\t18...,None,NaN